*{
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #fff;

}

.app-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #191F2D;
  min-height: 600px;
  padding: 2rem;
}